


<!-- <app-login></app-login>
<app-user></app-user> -->
<!-- <app-product></app-product> -->
<app-layout>
  <ul>
    <li><a routerLink="/product">Product</a></li>
    <li><a routerLink="/user">User</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/students">Student</a></li>
  </ul>
</app-layout>
<!-- <div>
  <header>
    <div class="menu">
        <ul>
          <li><a routerLink="/product">Product</a></li>
          <li><a routerLink="/user">User</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/students">Student</a></li>
        </ul>
    </div><img src="./img/logo.png" alt="" class="logo">
    <img src="./z2933351722211_c2302084538baee1b70275eceb027ed7.jpg" alt="" width="100%">


</header>
  <nav>

  </nav>
  <aside>
    ASIDE
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div> -->

