
<p>post works!</p>
<p>{{posts | json}}</p>

<a routerLink="/posts/form" class="btn btn-primary">Create</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th></th>
      <th>Class</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{post.id}}</td>
      <td>{{post.name}}</td>
      <td>{{post.class}}</td>
      <td>
        <a routerLink="/students/{{post.id}}">
          <button class="btn btn-primary">Detail</button>
        </a>
        <a
          routerLink="/students/form/{{post.id}}"
          class="btn btn-warning"
        >Edit</a>
        <button (click)="onDelete(post.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>




